__pycache__/
*.pyc
.env
# Only paul.wav is committed as example; other voices may have copyright issues
voices/*.wav
voices/*.txt
!voices/paul.wav
!voices/paul.txt
!voices/rebecca.wav
!voices/rebecca.txt
